body {
    margin: 0;
    padding-top: 140px; /* espaço para o menu */
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #ff0000, #ffffff);
}


header {
    background: #cc0000;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

nav {
    margin-top: 15px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: yellow;
}

.section {
    scroll-margin-top: 150px;
    padding: 80px 20px;
    text-align: center;
}

.main-img {
    width: 80%;
    max-width: 600px;
    border-radius: 15px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: 0.4s;
}

.card:hover {
    transform: scale(1.08);
}

.card img {
    width: 100%;
}

.evolution-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.evolution-line img {
    width: 120px;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Animação */
.fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* Mobile */
@media (max-width: 768px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
}